// Estilos para o elemento com classe "container"
.container {
    width: 100%;
    margin: auto;
    padding: 0 nth($spacing, 1);
    max-width: 100%;

    @include media-query("sm") {
        padding: 0 nth($spacing, 2);
        max-width: 34rem;
    }

    @include media-query("md") {
        padding: 0 nth($spacing, 3);
        max-width: 48rem;
    }

    @include media-query("lg") {
        padding: 0 nth($spacing, 4);
        max-width: calc(100vw - #{nth($spacing, 4)});
    }

    @include media-query("xl") {
        padding: 0 nth($spacing, 5);
        max-width: calc(100vw - #{nth($spacing, 5)} * 2);
    }
}

// Classe para o elemento com classe "row"
.row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

//colunas
@function calculate-column-width($columns) {
    $base-column-width: calc(100% / 12);
    $column-width: $base-column-width * $columns;
    @return $column-width;
}

@each $breakpoint,
$max-width in $breakpoints {
    @media screen and (min-width: $max-width) {
        @for $i from 1 through 12 {
            .col-#{$breakpoint}-#{$i} {
                width: calculate-column-width($i) !important;
            }
        }
    }
}

.col {
    @for $i from 1 through 12 {
        &-#{$i} {
            width: calculate-column-width($i);
        }
    }
}

@each $breakpoint,
$max-width in $breakpoints {
    @media screen and (max-width: $max-width) {
        .col-#{$breakpoint} {
            &.col {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: map-get($breakpoints, "extra-large")) {
    .col-xl {
        @for $i from 1 through 12 {
            &-#{$i} {
                width: calculate-column-width($i) !important;
            }
        }
    }
}